section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 1px solid #e4e4e4;
    app-search{
        width: 100%;
        background-color: rgb(241, 241, 241);
    }
    app-two-image{
        width: 100%;
        background-color: white;
    }
}