<article>
    <h1>
        Tu negocio, organizado. <br>
        <span>Tus clientes, felices.</span>
    </h1>
    <p>El sistema de reservas mas intuitivo para poder potencia tu negocio y enamorar a tus clientes con una experiencia digital impecable.</p>
    <div class="search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Que servicio buscas?">
        <mat-icon>location_on</mat-icon>
        <input type="text" placeholder="Ubicacion">
        <button class="warning-button" mat-button>Buscar</button>
    </div>
    <ul>
        <li>
            <span><mat-icon>content_cut</mat-icon></span>
            Estetica
        </li>
        <li>
            <span><mat-icon>local_florist</mat-icon></span>
            Bienestar
        </li>
        <li>
            <span><mat-icon>fitness_center</mat-icon></span>
            Deportes
        </li>
        <li>
            <span><mat-icon>more_horiz</mat-icon></span>
            Otros
        </li>
    </ul>
</article>