article{
    width: 100%;
    display: block;
    color: black;
    div{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        img{
            width: 40%;
            max-width: 800px;
            min-width: 400px;
            border-radius: 10px;
            transition: filter 0.2s ease-in-out;
            &:hover, &:focus {
                filter: 
                drop-shadow(0 0 5px #45A593) 
                drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
                
            }
        }
    }
}