
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; }

h1, h2, h3, .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -0.5px;
}

body, button, input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.secondary-button {
  background-color: #F4C456; 
  color: #193252; 
  font-weight: bold;
}